.contenedor{
    background-color: aqua;
}

.boton{
    height: 250px;
    width: 250px;
}

.rojo{
    background-color: red;
}

.azul{
    background-color: blue;
}

.amarillo{
    background-color: yellow;
}
